#Instrucciones 
/Archivos/conexion.txt
/Archivos/B/Sub 1/calculadora.meta
/Archivos/A/Sub 2/acciones.meta
/Archivos/B/*/*.zzz
/Archivos/B/Sub 2/Datos

/Archivos/A/Sub 1/Estado/*

!/Archivos/A/Sub 1/Estado/feliz.html
